Babel==2.7.0
Django==2.2.3
django-ckeditor==5.7.1
django-js-asset==1.2.2
django-phonenumber-field==3.0.1
django-render-block==0.6
django-templated-email==2.3.0
phonenumbers==8.10.14
phonenumberslite==8.10.14
Pillow==9.0.0
psycopg2-binary==2.8.3
pytz==2019.1
sqlparse==0.3.0
typed-ast==1.4.0
