{% extends 'base.html'%}
{%load static%}

{%block content%}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">About Us</h1>
                <p class="lead">What makes our brand amazing?</p>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index'%}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> About</li>
            </ol>
        </nav>
    </div>
</section>
<section>
    <section>
        <div class="container">
            <h1 class="text-center">Who We Are</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="{% static 'img/wonderland.jpg' %}" alt="" height="250" width="350">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-0">
                        <p class="text-justify">Duke events is a one stop shop for all your creative ,trendy and reliable social and corporate events in kenya. With the vast experience in all under one roof methodology, end to end events design with an afri-american customised events,we are the best deal you will ever get.From conferences, exhibitions, brand and products launch to weddings, showers ,graduations,we make you a guest at your own event by taking all the events hustles away ,deliver to your taste and preferences on the budget with love and passion.</p>
                            
                    </div>

                </div>
            </div><br>
            <h1 class="text-center">Our skills</h1>
            <div class="row">
                    <div class="col-md-6">
                            <div class="card border-0">
                                        We are skilled in multiple services. Some of them include:
                                        <ol>
                                            <li>Weddings</li>
                                            <li>Engagement parties</li>
                                            <li>Tenting</li>
                                            <li>Catering Consultations</li>
                                            <li>Corporate Dinners</li>
                                            <li>Bridal Showers</li>
                                            <li>Bachelor Parties</li>
                                            <li>Baby Showers</li>
                                            and many more... 
                                            Call us and consult.
                                        </ol>

                                </div>
                        
                    </div>
                    <div class="col-md-6">
                            <div class="card">
                                    <img src="{% static 'img/about_event.jpg' %}" alt="" height="250">
                                </div>
                    </div>
                </div>
        </div>

    </section>
    <br>
    <section id="services" class="py-3 bg-secondary ">
            <div class="container">
              <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="text-center"><h1 class="text-center text-white">What We Do</h1></h2>
                </div>     
              </div>
              <br>
              <div class="row">
                  <div class="col-md-3">
                        <div class="card p-3 h-100">
                        <h3 class="text-center">Strategy</h3>
                        <hr>
                        <p class="text-justify">
                                We’ll prepare timelines, select vendors, Venice search ,events layout and rehearsal .</p>
                        </div>
                  </div>
                  <div class="col-md-3">
                        <div class="card p-3 h-100">
                        <h3 class="text-center">Creative</h3>
                        <hr>
                        <p class="text-justify">
                                We brainstorm as a team and come up with the best options for your events that is suitable</p>
                        </div>
                  </div>
                  <div class="col-md-3">
                        <div class="card p-3 h-100">
                        <h3 class="text-center">Design</h3>
                        <hr>
                        <p class="text-justify">We listen and understand your events brand, goals and vision, then we customise and design according to your event objective,taste and theme.</p>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card p-3 h-100">
                            <h3 class="text-center text-black">Production</h3>
                            <hr>
                            <p class="text-justify">We implement all ideas and give you an event that actualize your dream and a good report afterwards.</p>
                      </div>
                        
                  </div>
              </div>
            </div>
          </section>
    {%endblock%}