{% extends 'base.html'%}
{%load static%}

{%block content%}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">About Us</h1>
                <p class="lead">What makes our brand amazing?</p>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index'%}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> About</li>
            </ol>
        </nav>
    </div>
</section>
<section>
    <section>
        <div class="container">
            <h1 class="text-center">Who We Are</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="{% static 'img/wonderland.jpg' %}" alt="" height="250" width="350">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-0">
                        <p class="text-justify">Based in Nairobi Kenya, Duke Events designs and executes special occasions shaped to meet the client's style and personality. 
                            From large, branded corporate events to intimate weddings and everything in between, The team provides a unique insight that 
                            will make your big day unforgettable.</p>
                            <p>
                                    Duke Events offers a variety of packages to meet your specific event planning needs. 
                                    While the packages range in services offered, each includes consulting with a team of experts who have experience in event 
                                    planning. Please contact us to know the available packages.
                            </p>
                    </div>

                </div>
            </div><br>
            <h1 class="text-center">Our skills</h1>
            <div class="row">
                    <div class="col-md-6">
                            <div class="card border-0">
                                        We are skilled in multiple services. Some of them include:
                                        <ol>
                                            <li>Weddings</li>
                                            <li>Engagement parties</li>
                                            <li>Tenting</li>
                                            <li>Catering Consultations</li>
                                            <li>Corporate Dinners</li>
                                            <li>Bridal Showers</li>
                                            <li>Bachelor Parties</li>
                                            <li>Baby Showers</li>
                                            and many more... 
                                            Call us and consult.
                                        </ol>

                                </div>
                        
                    </div>
                    <div class="col-md-6">
                            <div class="card">
                                    <img src="{% static 'img/about_event.jpg' %}" alt="" height="250">
                                </div>
                    </div>
                </div>
        </div>

    </section>
    <br>
    <section id="services" class="py-3 bg-secondary ">
            <div class="container">
              <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="text-center"><h1 class="text-center text-white">What We Do</h1></h2>
                </div>     
              </div>
              <br>
              <div class="row">
                  <div class="col-md-3">
                        <div class="card p-3 h-100">
                        <h3 class="text-center">Strategy</h3>
                        <hr>
                        <p class="text-justify">We research on the event you want to hold and where it should be held</p>
                        </div>
                  </div>
                  <div class="col-md-3">
                        <div class="card p-3 h-100">
                        <h3 class="text-center">Creative</h3>
                        <hr>
                        <p class="text-justify">We come up with ideas of the perfect event</p>
                        </div>
                  </div>
                  <div class="col-md-3">
                        <div class="card p-3 h-100">
                        <h3 class="text-center">Design</h3>
                        <hr>
                        <p class="text-justify">We figuratively design how the event will look like when it will take place.</p>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card p-3 h-100">
                            <h3 class="text-center text-black">Production</h3>
                            <hr>
                            <p class="text-justify">We implement all the ideas and give you an event that actualises your dreams.</p>
                      </div>
                        
                  </div>
              </div>
            </div>
          </section>
    {%endblock%}