{% extends 'base.html'%}

{%block content%}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Meet The Team</h1>
                <p class="lead">What makes a brand? It's the human qualities such as kindness, humor and intelligence that make a brand amazing. Meet our amazing team.</p>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index'%}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Team</li>
            </ol>
        </nav>
    </div>
</section>
<section id="team" class="py-5">
    <div class="container">
        <div class="row text-center ">
            {% if team_members %}
            {% for team in team_members%}
            <div class="col-md-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="img" src="{{ team.photo.url }}" alt="">
                    <h4>{{ team.name }}</h4>
                    <p>
                        {{ team.role }}</p>
                    <p class="p-3 text-justify">
                        {{ team.description }}</p>
                </div>
            </div>
            {%endfor%}
            {% else %}
            <p>No team_members</p>
            {% endif %}
        </div>
    </div>
</section>
{%endblock%}