#header {
    height: 50px;
    background: #008080;
    color: #fff;
}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: #008080
}

div.breadcrumbs {
    background: #fff;
    color: #008080;
}
div.breadcrumbs a {
    color: #333;
}

.module h2, .module caption, .inline-group h2 {
    background: #008080;
}
.button.default, input[type=submit].default, .submit-row input.default {
    background: #008080
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #008080
}